

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
body{
    background-color: rgb(34, 33, 35);
}

.navbar {
    background-color: #333;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.navbar li {
    float: right;
}

.navbar a {
    display: block;
    color: rgb(218, 167, 40);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.username h2 {
    color: beige;
}


.head{
    height: 500px;
    width: 1250px;
   margin-left: 30px;
   margin-top: 20px;
}

.head img{
width: 98%;
height: 400px;
object-fit: cover;
object-position: 10% 40%;
border-radius:30px;  
align-content: center;
 position: relative;
 z-index: -1;
}

.tr h1{
    font-family: 'Cinzel', serif;
    text-align: center;
   position: absolute;
   padding-left: 17%;
   padding-right: 15%;
   padding-top: 130px;
   color: aliceblue;
   font-size: 50px;
}

.txt img{
    width: 530px;
    height: 180px;
    float: right;
    margin-bottom: 200px;
    position: relative;
    margin-top: 100px;
    margin-right: 50px;
}

.txt{
    display: flex;
}

.txt p{
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 30px;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    position: relative;
    text-align: justify;
}

.suku{
    padding-left: 80px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(218, 167, 40);
    font-size: 20px;
}

section{
    display: flex;
    margin-bottom:100px;
    margin-top: 0px;    
}

.jawa{
    width: 190px;
    height: 350px; 
    background: black; 
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    position: relative;
    z-index: -2;
}



.jawa img{
    object-fit: cover;
    height: 350px;
    width: 190px;
    border-radius: 20px;
    position: relative;
    z-index: -1;
    opacity: 0.40;
    
}

.jawa h2{
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-left: 55px;
}


.sunda{
    width: 190px;
    height: 350px; 
    background: black; 
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    position: relative;
    z-index: -2;
}



.sunda img{
    object-fit: cover;
    height: 350px;
    width: 190px;
    border-radius: 20px;
    position: relative;
    z-index: -1;
    opacity: 0.40;
}

.sunda h2{
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-left: 55px;
}

.betawi{
    width: 190px;
    height: 350px; 
    background: black; 
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    position: relative;
    z-index: -2;
}

.betawi img{
    object-fit: cover;
    height: 350px;
    width: 190px;
    border-radius: 20px;
    position: relative;
    z-index: -1;
    opacity: 0.40;
}

.betawi h2{
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-left: 55px;
}

.madura{
    width: 190px;
    height: 350px; 
    background: black; 
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    position: relative;
    z-index: -2;
}

.madura img{
    object-fit: cover;
    height: 350px;
    width: 190px;
    border-radius: 20px;
    position: relative;
    z-index: -1;
    opacity: 0.40;
}

.madura h2{
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-left: 55px;
}

.baduy{
    width: 190px;
    height: 350px; 
    background: black; 
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    position: relative;
    z-index: -2;
}

.baduy img{
    object-fit: cover;
    height: 350px;
    width: 190px;
    border-radius: 20px;
    position: relative;
    z-index: -1;
    opacity: 0.40;
}

.baduy h2{
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-left: 55px;
}

.jawa:hover,
.sunda:hover,
.betawi:hover,
.madura:hover,
.baduy:hover {
  transform: scale(1.1); 
  opacity: 1; 
  z-index: 1; 
}

.jawa,
.sunda,
.betawi,
.madura,
.baduy {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
}

.jawa,
.sunda,
.betawi,
.madura,
.baduy {
  opacity: 0.40;
  z-index: 0; 
}

